            <h2>@{{user.name}}'s Dashboard</h2>
            <div class="pkg-grid">
                {{#each pkgs}}
                <div class="terminal-card">
                    <div>
                        <h3 style="margin-bottom: .5em;"><a href="./{{user.provider}}/{{user.name}}/{{this.name}}">{{this.name}}</a></h3>
                        <div><i class="balance scale icon"></i> {{#if this.license}}{{this.license}}{{else}}No{{/if}} License</div>
                        <div>{{this.description}}</div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </body>
</html>
