            <h2>Import A New Project</h2>
            <table>
                <thead>
                    <th>API ID</th>
                    <th>Repo</th>
                    <th></th>
                </thead>
                <tbody>
                    {{#each list}}
                    {{#unless this.added}}
                    <tr><td>{{this.ID}}</td><td><a href="https://{{remote.domain}}/{{this.name}}" target="_blank">{{this.name}}</a></td><td><a href="./do_import?repo={{this.name}}">Select</a></td></tr>
                    {{/unless}}
                    {{/each}}
                </tbody>
            </table>
            <h3>Already Imported</h3>
            <table>
                <thead>
                    <th>API ID</th>
                    <th>Repo</th>
                    <th></th>
                </thead>
                <tbody>
                    {{#each list}}
                    {{#if this.added}}
                    <tr><td>{{this.ID}}</td><td><a href="https://{{remote.domain}}/{{this.name}}" target="_blank">{{this.name}}</a></td><td>Select</td></tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </body>
</html>
