            <h1>Aquila</h1>
            <p>A federated package index and CI system for the Zig programming language built around the <a href="https://github.com/nektro/zigmod">Zigmod</a> package manager.</p>
            <p><a href="./dashboard" class="btn btn-primary">Login</a></p>
            <hr>
            <div class="home-cols">
                <div>
                    <h3>Latest Packages</h3>
                    {{#each latest_packages}}
                    <div class="terminal-card">
                        <div>
                            <h3 style="margin-bottom: 0;">
                                <a class="link-as-text" href="{{get_user_path this.Owner}}/{{this.name}}"></a>
                                <span><i class="star icon"></i> {{this.StarCount}}</span>
                            </h3>
                            <div><i class="balance scale icon"></i> {{#if this.license}}{{this.license}}{{else}}No{{/if}} License</div>
                            <div>{{this.description}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div>
                    <h3>Latest Updates</h3>
                    {{#each latest_versions}}
                    <div class="terminal-card">
                        <div>
                            <h3 style="margin-bottom: 0;">
                                <a class="link-as-text" href="{{version_path this}}"></a>
                                <span><i class="star icon"></i> {{version_pkg_stars this}}</span>
                            </h3>
                            <div><i class="tag icon"></i>{{versionp_str this}}</div>
                            <div>{{version_pkg_description this}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </body>
</html>
