            <h1>Aquila</h1>
            <p>A federated package index and CI system for the Zig programming language built around the <a href="https://github.com/nektro/zigmod">Zigmod</a> package manager.</p>
            <p><a href="./dashboard" class="btn btn-primary">Login</a></p>
            <hr>
            <div class="home-cols">
                <div>
                    <h3>Latest Packages</h3>
                    {{#each latest_packages}}
                    <div class="terminal-card">
                        <div>
                            <h3 style="margin-bottom: 0;">
                                <a class="link-as-text" href="{{get_user_path this.Owner}}/{{this.Name}}"></a>
                                {{#pkg_is_github this.UUID}}<span><img src="https://img.shields.io/github/stars/{{this.RemoteName}}?style=flat"></span>{{/pkg_is_github}}
                            </h3>
                            <div><i class="balance scale icon"></i> {{#if this.License}}{{this.License}}{{else}}No{{/if}} License</div>
                            <div>{{this.Description}}&nbsp;</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div>
                    <h3>Most Starred</h3>
                    {{#each top_starred}}
                    <div class="terminal-card">
                        <div>
                            <h3 style="margin-bottom: 0;">
                                <a class="link-as-text" href="{{get_user_path this.Owner}}/{{this.Name}}"></a>
                                {{#pkg_is_github this.UUID}}<span><img src="https://img.shields.io/github/stars/{{this.RemoteName}}?style=flat"></span>{{/pkg_is_github}}
                            </h3>
                            <div><i class="balance scale icon"></i> {{#if this.License}}{{this.License}}{{else}}No{{/if}} License</div>
                            <div>{{this.Description}}&nbsp;</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div>
                    <h3>Latest Updates</h3>
                    {{#each latest_versions}}
                    <div class="terminal-card">
                        <div>
                            <h3 style="margin-bottom: 0;">
                                <a class="link-as-text" href="{{version_path this}}"></a>
                            </h3>
                            <div><i class="tag icon"></i>{{versionp_str this}}</div>
                            <div>{{version_pkg_description this}}&nbsp;</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </body>
</html>
