            <h2>Package <code>{{pkg.Name}}</code> Details</h2>
            <table class="left">
                <tbody>
                    <tr><td>ULID</td><td>{{pkg.UUID}}</td></tr>
                    <tr><td>Owner</td><td><a href="../../{{owner.Provider}}/{{owner.Name}}">{{owner.Provider}}/{{owner.Name}}</a></td></tr>
                    <tr><td>Created On</td><td>{{fix_date pkg.CreatedOn}}</td></tr>
                    <tr><td>Host API ID</td><td>{{pkg.RemoteID}}</td></tr>
                    <tr><td>Host Name</td><td><a href="https://{{repo.Domain}}/{{pkg.RemoteName}}">{{repo.Domain}} / {{pkg.RemoteName}}</a></td></tr>
                    <tr><td>License</td><td>{{pkg.License}}</td></tr>
                    <tr><td>Description</td><td>{{pkg.Description}}</td></tr>
                </tbody>
            </table>
            <h3>Versions</h3>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Published On</th>
                        <th>Tree @ Commit</th>
                        <th>Compare Diff</th>
                        <th>Unpacked Size</th>
                        <th>Tar Size</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each versions}}
                    <tr>
                        <td><a href="./{{pkg.Name}}/v{{this.RealMajor}}.{{this.RealMinor}}">v{{this.RealMajor}}.{{this.RealMinor}}</a></td>
                        <td>{{fix_date this.CreatedOn}}</td>
                        <td><a href="{{tree_url pkg.Remote pkg.RemoteName this.CommitTo}}"><code>{{trim_str this.CommitTo 14}}</code></a></td>
                        <td>{{#notequal @index 0}}<a href="{{diff_url_off pkg.Remote pkg.RemoteName @index this.CommitTo versions}}"><code>{{prev_commit_off @index versions}}...{{trim_str this.CommitTo 8}}</code></a>{{/notequal}}</td>
                        <td>{{fix_bytes this.UnpackedSize}}</td>
                        <td>{{fix_bytes this.TarSize}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </body>
</html>
