            <h2>@{{powner.Name}}'s Packages</h2>
            <div class="pkg-grid">
                {{#each pkgs}}
                <div class="terminal-card">
                    <div>
                        <h3>
                            <a href="./{{powner.Name}}/{{this.Name}}">{{this.Name}}</a>
                            <span><i class="star icon"></i> {{this.StarCount}}</span>
                        </h3>
                        <div><i class="balance scale icon"></i> {{#if this.License}}{{this.License}}{{else}}No{{/if}} License</div>
                        <div>{{this.Description}}</div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </body>
</html>
