            <h2>Package <code>{{pkg.Name}}</code>@<code>{{version_str vers}}</code> Details</h2>
            <table class="left">
                <tbody>
                    <tr><td>ULID</td><td>{{vers.UUID}}</td></tr>
                    <tr><td>For</td><td><a href="../../../{{repo.ID}}/{{owner.Name}}/{{pkg.Name}}">{{repo.ID}}/{{owner.Name}}/{{pkg.Name}}</a></td></tr>
                    <tr><td>Published On</td><td>{{fix_date vers.CreatedOn}}</td></tr>
                    <tr><td>Approved By</td><td><a href="../../../{{approver.Provider}}/{{approver.Name}}">{{approver.Provider}}/{{approver.Name}}</a></td></tr>
                    <tr><td>Commit</td><td><code>{{vers.CommitTo}}</code></td></tr>
                    <tr><td>Unpacked Size</td><td>{{fix_bytes vers.UnpackedSize}}</td></tr>
                    <tr><td>Total Size</td><td>{{fix_bytes vers.TotalSize}}</td></tr>
                    <tr><td>Tar Size</td><td>{{fix_bytes vers.TarSize}}</td></tr>
                    <tr><td>Tar Hash</td><td><code>{{vers.TarHash}}</code></td></tr>
                    <tr><td>Tar Download</td><td><a href="./{{version_str vers}}.tar.gz">Download</a></td></tr>
                </tbody>
            </table>
            <h3>File List</h3>
            <ul>
                {{#each vers.Files}}
                <li><code>{{this}}</code></li>
                {{/each}}
            </ul>
            <h3>Dependencies</h3>
            <ul>
                {{#each vers.Deps}}
                <li><code>{{this}}</code></li>
                {{/each}}
            </ul>
            <h3>Dev Dependencies</h3>
            <ul>
                {{#each vers.DevDeps}}
                <li><code>{{this}}</code></li>
                {{/each}}
            </ul>
        </div>
    </body>
</html>
